.table-header-row th{
    padding-right: 10px;
    border-bottom: 1px solid #000;
    border-top: none;
}
.college-name{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.college-name:hover{
    color:#999;
}
.container-fluid.top-colleges-container {
    margin-top: 30px;
}

.card.shadow.card-custom {
    border-radius: 15px;
    margin: 50px;
}

.card-body.card-body-custom {
    background: white;
    margin: 0px;
    border-radius: 15px;
}

